$secom-colors: (
    "azul-1": #366c88,
    "azul-2": #5081a0,
    "azul-3": #365a6d,
    "marsala-1": #9c5c6a,
    "marsala-2": #b16c73,
    "marsala-3": #7b4a55,
    "cinza-1": #7b7b7a,
    "cinza-2": #cfcfcf,
    "cinza-3": #585857
);

$secom-spacing: (
    "sm": 10px,
    "md": 20px,
    "input-height": 35px,
    "rss-line-height": 15px
);

$secom-font: (
    "family": ("Open Sans", Arial, sans-serif),
    "h1-size": 20pt,
    "h2-size": 13pt,
    "content-size": 10pt,
    "small-size": 8pt
);
