{% load widget_tweaks utils %}

{% if field.field.widget|klass == 'CheckboxInput' %}

    <label for="{{ field.id_for_label }}" class="flex gap-2 w-fit items-center">

        {% if field.errors %}

            {{ field|add_class:'toggle toggle-sm toggle-secondary'|attr:'aria-invalid:true' }}

        {% else %}

            {{ field|add_class:'toggle toggle-sm toggle-secondary' }}

        {% endif %}

        <span class="fieldset-legend flex items-center justify-start gap-1">
            {{ field.label }}

            {% if field.field.required %}<span class="text-error">*</span>{% endif %}
        </span>

    </label>

{% elif field.field.widget|klass == 'CheckboxSelectMultiple' %}

    <div id="{{ field.id_for_label }}">

        {% for checkbox in field %}

            <div>
                <label for="{{ checkbox.id_for_label }}"
                       class="label flex gap-1 items-center w-fit">

                    {{ checkbox|add_class:'checkbox checkbox-xs checkbox-secondary rounded-sm' }}

                    {{ checkbox.choice_label }}

                </label>
            </div>

        {% endfor %}

    </div>

{% elif field.field.widget.input_type == 'checkbox' %}

    {{ field }}

{% elif field.field.widget.input_type == 'radio' %}

    {{ field }}

{% elif field.field.widget.input_type == 'file' %}

    {% if field.errors %}

        {{ field|add_class:'file-input w-full'|attr:'aria-invalid:true' }}

    {% else %}


        {{ field|add_class:'file-input w-full' }}

    {% endif %}

{% elif field.field.widget.input_type == 'select' %}

    {% if field.errors %}

        {{ field|add_class:'select w-full'|attr:'aria-invalid:true' }}

    {% else %}


        {{ field|add_class:'select w-full' }}

    {% endif %}

{% elif field.field.widget.template_name == 'django/forms/widgets/textarea.html' %}

    {% if field.errors %}

        {{ field|add_class:'textarea w-full'|attr:'aria-invalid:true' }}

    {% else %}


        {{ field|add_class:'textarea w-full' }}

    {% endif %}

{% else %}


    {% if field.errors %}

        {{ field|add_class:'input w-full'|attr:'aria-invalid:true' }}

    {% else %}


        {{ field|add_class:'input w-full' }}

    {% endif %}

{% endif %}
