<c-vars title="" id="event-modal" />

<dialog id="{{ id }}"
        class="modal modal-open"
        aria-labelledby="{{ id }}_title">
    <div class="modal-box w-11/12 max-w-2xl">

        {% if title %}<h3 id="{{ id }}_title">{{ title }}</h3>{% endif %}

        {{ slot }}

        <div class="modal-action">
            <form method="dialog" hx-disable>
                <button class="btn btn-ghost"
                        onclick="document.getElementById('{{ id }}').remove()">
                    Fechar
                </button>
            </form>
        </div>
    </div>

    <form method="dialog" class="modal-backdrop" hx-disable>
        <button onclick="document.getElementById('{{ id }}').remove()">Fechar</button>
    </form>
</dialog>
